html,body{
	height: 100%;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
 clear: both;
 content: "";
 display: table;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
ul li:last-child{
	margin-bottom: 0;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
button,
label{
	cursor: pointer;
}
input,
button,
textarea{
	background: none;
	border: none;
	outline: none;
	display: block;

	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"]{
	display: none;
}
input::placeholder {
	color: inherit;
}
button{
	cursor: pointer;
}
input, 
textarea{
	display: block;
	resize: none;
}
body{
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}
.container{
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn{
	display: none;
}
section{
	padding: 100px 0;
}
.sec_tit{
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}
.color{
	color: #BE963F;
}
.dib{
	display: inline-block;
}
.hover{
	transition: 0.3s;
}
.hover:hover{
	color: #BE963F;
}
.btn{
	border-radius: 10px;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
	height: 85px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 14px 0;
	transition: 0.3s;
	margin-left: 2px;
}
/* .btn:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
} */
.link{
	transition: 0.3s;
}
.link:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card{
	width: calc((100% - 10px) / 3);;
	border-radius: 20px;
	box-shadow: #242424;
	padding: 10px;
	gap: 10px;
	padding-bottom: 20px;

}
.card:hover{
	box-shadow: 10px 20px 20px 10px rgba(232, 172, 6, 0.2);
}
.card_img img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-bottom: 10px;
}
.card_tit{
	text-transform: uppercase;
	justify-content: flex-start;
	gap: 5px;
}
.card_dollar::after{
	padding-left: 5px;
	content: '$';
}
.card_som::after{
	padding-left: 5px;
	content: 'som';
}
.card_volume::after{
	padding-left: 5px;
	content: 'l';
}
.card_year::after{
	padding-left: 5px;
	content: 'year';
}
.sec_dec{
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}
.btn{
	width: auto;
	padding: 10px;
	height: 45px;
}
.btn{
border: #000;
color: #000;
}
.filter_model{
	margin-bottom: 20px;
	justify-content: flex-start;
}
.model.active{
	background: #000;
	color: aliceblue;padding: 10px;
	border-radius: 5px;
}
.card_img{
	/* border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-bottom: 10px;
	width: 290px;
	height: 250px;  */
  
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .card_img img {
	width: 405px;
	height: 250px;
	display: inline-block; 
  
  
  
	min-width: 100%;
	min-height: 100%;
	width: auto;
	object-fit: cover;
	object-position: center;
  }